

.body {
    margin: 0;
    padding: 0;
    text-align: center;

}

.colored-section {
    background-color: #D5BFBF;
}

/* container*/

.container-fluid {
    padding: 7% 15%;
}

.row {
    margin: 0;
}

/* navbar */

#navbar {
    background-color: #252A34;
    opacity: 1;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar {
    /* padding: 30px; */
    /* height:5%; */
}



.navbar-brand {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 5%;
}

.navbar-links {
    padding-right: 5%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
}

.download-button.btn {
    padding: 0;
    height: 40px;
    width: 120px;

}

.resume {
    padding: 0;
}


/* title */


#title {
      
    /* Preserve aspet ratio */

    font-family: 'Roboto', sans-serif;
    color: white;

}

#title .container-fluid {

    background-image: url("images/title-background-2.png");
    background-size:cover;
    width: 100%;
    height: 100vh;
    padding: 0;
}

@media (max-width: 992px) {
    #title .container-fluid {
        text-align: center;
    }
    
    .title-introduction-p {
        text-align: center;
    }
    /* .title-image {
        width: 60%;
        transform: rotate(0deg);
        position: static;
        right: 25%;
    } */


}

.title-content-container {
    width: 100%;
    height: 100%;
}

#introduction {
    background-color: rgba(8, 217, 214, .10);
    /* background: rgba(8, 217, 214, 0.5); */
    outline: dotted #252A34 7px;
    /* border-radius: 25px;  */
    position: relative;
    margin: 0 auto;
    text-align: left;
    height: max-content;
    width: max-content;
    top: 30%;
}

.title-introduction-h1 {
    color: white;
    font-size: 3.5rem;
}

.title-introduction-p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.61);
}

.title-introduction u {
    text-decoration: underline #8CA1A5;

}

/* udemy */

#udemy {
    position: relative;
}

.udemy-content {

    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 70%;
    
}

.udemy-title {
    border-top: solid white;
    color: white;
}





/* techstack */

#techstack {
    font-family: 'Bakbak One';
    background-color: #EAEAEA;
    padding: 5% 0 5%;
 
}

.techstack-content {
    
    position: relative;
    margin: 0 auto;
    height: 20%;
    width: 80%;
    max-width: 100%;
    top: 30%;

}

.techstack-title {
    text-align: center;
    font-weight: bold;
    border-top: solid;
}

.techstack-images {
    text-align: center;
    width: 100%;
    padding: 0;
}

.techstack-image {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 75px;
    margin: 1% 2% 1%;
}

/* projects */

#project {
    background-color: #6D8299;
    width: 100%;
    text-align: center;
    font-family: 'Bakbak One';
}

.project-title {
    position: relative;
    margin: 0 auto;
    padding: 5% 0 0;
    border-bottom: solid black;
    width: 80%;
    color: white;
}

.project-card-collection {
    position: relative;
    padding: 2%;
    width: 80%;
    margin: 0 auto;

}

.project-card {
    position:relative;
    margin: 1% auto;
    width: 300px;
    height: 450px;
}

.card {
    padding: 20px;
}

.card-title {
    border-bottom: solid #EAEAEA;
}

.card-button {
    margin-top: 20px
}


/* 100 projects in 25 days */

#javascript-challenge {
    font-family: 'Bakbak One';
    background-color: #EAEAEA;
    padding: 5% 0 5%;
    text-align: center;
}

.challenge-title {
    border-bottom: solid;
    width: 80%;
    margin: 0 auto 3%;
}

.challenge-project-holder {
    background-color: rgba(140, 161, 165, .1);
    position: relative;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    border: solid 10px;
    border-radius: 25px;
}

.challenge-project-row {
    width: 85%;
    margin: 2% auto;
}

.challenge-day {
    border-bottom: solid black;
    width: 100%;
    margin: 1% auto;
}

.challenge-file {
    position: relative;
    border: solid #6D8299 5px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    

}

.challenge-file:hover .challenge-file-img {
    animation: fadeIn 1s ease-in-out;
    opacity: 100%;
}

.challenge-file:hover .challenge-file-body {
    /* animation: fadeOut 1s ease-in-out; */
    opacity: 0%;
}

@keyframes fadeIn {
    0% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
  }


.challenge-file-img {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    opacity: 25%;
}

.challenge-file-body {
    color: #6D8299;
    position: absolute;
    overflow: hidden;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}

.challenge-file-number {
    font-size: 6rem;
}

.challenge-file-title {

}

/* footer */

